html, body {
    margin: 0;
}

.nav_container{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.nav_element:hover {
    background-color: magenta;
    color: white;


}
.nav_element{
    color: black;
    text-decoration: none;
    border: 10px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 25px;

}


#logo_placeholder {
    width: 70px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.text_container {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    width: 250px;
}