.nav_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.text_container {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}